body {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

h1 {
  text-align: center;
  font-size: 6em;
  font-family: 'Wendy One', sans-serif;
  color: pink;
  text-shadow: 0 0 5px black;
}

.main {
  text-align: center;
}

.instructions {
  font-size: 2em;
  font-family: 'Anton', sans-serif;
  color: #ffe5b4;
  text-shadow: 0 0 15px black;
}

a:visited {
  color: green;
}

.button {
  margin: 20px;
}
