body {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#message {
  text-align: center;
  font-size: 1em;
  font-family: 'Wendy One', sans-serif;
  color: pink;
  text-shadow: 0 0 5px #000000;
}

.main {
  text-align: center;
}

.instructions {
  font-size: 0.6em;
  font-family: 'Anton', sans-serif;
  color: red;
  text-shadow: 0 0 10px #000000;
}

a:visited {
  color: green;
}

.button {
  margin: 20px;
}
